@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Black-Oblique.ttf') format('ttf');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Extra-Bold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Extra-Bold-Oblique.ttf') format('ttf');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Bold-Oblique.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Semi-Bold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Semi-Bold-Oblique.ttf') format('ttf');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Medium-Oblique.ttf') format('ttf');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Regular-Oblique.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Light-Oblique.ttf') format('ttf');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Extra-Light.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Extra-Light-Oblique.ttf') format('ttf');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Thin.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('~/assets/fonts/Causten-Thin-Oblique.ttf') format('ttf');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
